* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.virsraksts {
  background-color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 30px 5%;
  color: #0f7cf1;
}

html,
body {
  height: 100%;
  background-color: rgba(211, 210, 210, 0.219);
}

#logo {
  width: 7%;
}

.nav {
  list-style: none;
}

.nav li {
  display: inline-block;
  padding: 0px 20px;
}

.nav li a {
  text-decoration: none;
  color: #0f7cf1;
}

.nav li a:hover {
  color: #0b55a5;
}

#virsraksts_select {
  color: #094381;
  text-decoration: none;
  cursor: default;
}

#index_main {
  font-size: 50px;
  cursor: default;
  text-decoration: none;
  color: #0f7cf1;
}

#index_main:hover {
  cursor: pointer;
}

.main {
  display: flex;
  padding: 1px, 1%;
  font-family: "Josefin Sans", sans-serif;
}

.intro {
  padding-top: 10%;
  padding-left: 10%;
}

.intro h2 {
  font-size: 40px;
  margin-bottom: 60px;
}

.intro h1 {
  font-size: 64px;
  line-height: 1.065;
  margin-bottom: 20px;
}

.intro h3 {
  font-size: 21px;
  line-height: 1.2;
}
