* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgba(211, 210, 210, 0.219);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.virsraksts {
  background-color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 30px 5%;
  color: #0f7cf1;
}

#logo {
  width: 7%;
}

.nav {
  list-style: none;
}

.nav li {
  display: inline-block;
  padding: 0px 20px;
}

.nav li a {
  text-decoration: none;
  color: #0f7cf1;
}

.nav li a:hover {
  color: #0b55a5;
}

#virsraksts_select {
  color: #094381;
  text-decoration: none;
  cursor: default;
}

#index_main {
  font-size: 50px;
  cursor: default;
  text-decoration: none;
  color: #0f7cf1;
}

#index_main:hover {
  cursor: pointer;
}

.main {
  display: flex;
  padding: 1px, 1%;
  font-family: "Josefin Sans", sans-serif;
}

.intro {
  padding-top: 10%;
  padding-left: 10%;
}

.intro h2 {
  font-size: 40px;
  margin-bottom: 60px;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.intro h1 {
  font-size: 46px;
  line-height: 1.065;
  margin-bottom: 20px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.intro h3 {
  font-size: 21px;
  line-height: 1.2;
  margin-bottom: 20px;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.intro a {
  padding-bottom: 20px;
  font-size: 21px;
  text-decoration: none;
  color: #0b55a5;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.intro a:hover {
  color: #041d38;
  text-decoration: underline;
}

.about {
  padding-left: 5%;
  padding-right: 25%;
  padding-top: 100px;
}
.about h1 {
  font-size: 64px;
  margin-bottom: 10px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.about p {
  margin-top: 25px;
  font-size: 26px;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
