* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

.virsraksts {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100px;
  font-size: 25px;
  color: #0f7cf1;
}

#logo {
  margin-top: -15px;
  margin-left: 30px;
  width: 75px;
  margin-right: 40%;
}

.virsraksts a {
  color: #0f7cf1;
  border: none;
  background-color: transparent;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  text-decoration: none;
  margin-right: 5%;
  cursor: pointer;
}

.virsraksts a:hover {
  color: #0b55a5;
}

#virsraksts_select {
  color: #0b3c70;
  border: none;
  background-color: transparent;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  text-decoration: none;
  margin-top: 15px;
  margin-right: 5%;
  cursor: default;
}

#main {
  font-size: 50px;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 10px;
  margin-right: 15%;
}

#index_main {
  font-size: 50px;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 10px;
  margin-right: 15%;
  cursor: default;
}
#index_main:hover {
  color: #0f7cf1;
}

.main {
  display: flex;
  height: 1000px;
  background-color: rgba(211, 210, 210, 0.219);
}
